.heading {
  background-color: black;
  color: white;
  position: fixed;
  left: 15%;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%   
}

.sidebar li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #111;
}

/* Change the link color on hover */
.sidebar li a:hover {
    background-color: grey
    color: yellow;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: grey;
    text-color: black;
    border: 2px solid #000;
    position: fixed;
    left: 15%;
    width: 75%;
    height: 100%;
}

.links li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
}

/* Change the link color on hover */
.links li a:hover {
    background-color: white;
    color: black;
}

.links li {
  float: left;
}

.links_first li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.links_second li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.links_third li a {
    display: block;
    color: white;
    text-align: right;
    padding: 20px;
    text-decoration: none;
}
