.heading {
  color: red;
}

.links {
  background-color: yellow;
}
    
.links td {
  background-color: blue;
  position: center;
  font-size: 30px;
  text-align: center;
  padding: 500px 250px;
  margin: 5px;
  margin-color: black;
  height: 100px;
  width: 25px;
    }

table {
  height: 25%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 60%;
}

.Nav_bar {
  position: center;
  font-size: 20px;
}
  
