body {
    overflow-y: scroll;
    left: 0;
}

.heading {
  background-color: Green;
  color: white;
  width: 100%;
  height: 175px;
  position: static;
  top: 0;
}

.drop_down_bar {
  background-color: Grey;
  color: white;
  width: 100%;
  height: 30px;
  position: static;
  top: 175px;
}

.domestic {
  background-color: Black;
  color: white;
  width: 100%;
  height: 750px;
  position: static;
  top: 205px;
}

.international {
  background-color: Blue;
  color: white;
  width: 100%;
  height: 750px;
  position: static;
  top: 955px;
}

.second_search {
  background-color: Purple;
  color: white;
  width: 100%;
  height: 30px;
  position: static;
  top: 1705px;
}

.footer {
  background-color: Fuchsia;
  color: white;
  width: 100%;
  height: 175px;
  position: static;
  top: 1735px;
}
