.body {
  overflow-y: scroll;
}

.heading {
  background-color: Red;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  border: 2px solid black;
}

.drop_down_bar {
  background-color = Grey;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 100px;
  border: 2px solid black;
}

.domestic {
  background-color = Silver;
  width = 100%;
  height = 350px;
  position = fixed;
  top = 150px;
  border = 2px solid black;
}

.international {
  background-color: Aqua;
  width: 100%;
  height: 350px;
  position: fixed;
  top: 500px;
  border: 2px solid black;
}

.second_search {
  background-color: Purple;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 850px;
  border: 2px solid black;
}

.footer {
  background-color: Fuchsia;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 900px;
  border: 2px solid black;
}
