.heading {
  background-color: black;
  color: white;
}

.links {
  background-color: yellow;
}
    
.links td {
  background-color: white;
  position: relative;
  float: right;
  font-size: 30px;
  text-align: center;
  padding: 50px 25px;
  border: 10px;
  height: 125px;
  width: 30px;
    }

.Nav_Bar {
  position: relative;
  float: left;
  font-size: 20px;
  padding: 20px;
  height: 200px;
  width: 20px;
}

