body {
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0;
}


.heading {
    height: 120px;
    top: 0;
    position: absolute;
    background-color: white;
    width: 100%;
}


.Nav-bar {
    height: 30px;
    top: 120px;
    position: absolute;
    background-color: gold;
    width: 100%;
}

.Nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Nav-bar li {
    float: left;
}

.Nav-bar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Nav-bar li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.Nav-bar li.dropdown {
    display: inline-block;
}

.Nav-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.Nav-bar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.Nav-bar .dropdown-content a:hover {background-color: #f1f1f1}

.Nav-bar .dropdown:hover .dropdown-content {
    display: block;
}
    
    
.domestic {
    top: 167px;
    position: absolute;
}

    
    
.international {
    top: 1167px;
    position: absolute;
}

    
    
.second_search {
    height: 30px;
    top: 2167px;
    position: absolute;
    background-color: gold;
    width: 100%;
}

.second_search p {
    left: 50%;
    padding: 0px 40px;
}
    
.footer {
    top: 2197px;
    height: 120px;
    background-color: silver;
    width: 100%;
    position: absolute;
}

.footer p {
    left: 75%;
}

.footer ul {
    left: 50%;
}
    
    
.img {
    height: 1000px;
    width: 100%;
}

.Logo {
    height: 125px;
    width: 10%;
}
